.main {
  flex: 9.5;
}

.videoContainerWrapper:hover {
  box-shadow: none;
  transform: translateY(5px);
}
.videoContainer {
  padding: 10px;
}

.videoContainerWrapper {
  box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.4);
  /* margin-bottom: 10px; */
  display: flex;
  cursor: pointer;
  transition: all 0.3s;
}

a {
  text-decoration: none;
  color: black;
}

.img {
  margin-left: 5px;
  width: 200px;
  border-radius: 5px;
}

.desc {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.publishTime {
  font-size: smaller;
}

.videoTitle {
  font-size: large;
  font-weight: 550;
}
